.footerContainer {
  @extend .centrar;
  justify-content: space-evenly;
  font-size: 12px;
  padding: 30px 10px;
  color: $blanco;
  background-color: $violeta;
  text-align: center;

  .footerContainer-location .footerContainer-contact a {
    text-decoration: none;
    color: $blanco;
  }

  .footerContariner-copyright {
    a {
      text-decoration: none;
      color: $blanco;
      font-weight: bolder;
    }
  }

  @media screen and (max-width: 1100px) {
    display: block;
    padding: 30px 10px 40px 10px;
    font-size: 10px;
  }
}
