.btn-wsp {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 45px;
  bottom: 30px;
  right: 30px;
  background: $verde-claro;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.5);
  z-index: 100;

  svg {
    margin: 7px;
    font-size: 35px;
  }

  &:hover {
    color: $verde-claro;
    background: $blanco;
  }
}
