.nosotros-first {
  margin-top: 8em;
  margin-bottom: 50px;

  .first-container {
    @media screen and (min-device-width: 881px) {
      display: flex;
    }
    p,
    h2 {
      width: 80%;
      margin: auto;
    }

    h2 {
      font-weight: bolder;
      padding-top: 4%;
    }

    p {
      padding-top: 4%;
      line-height: 30px;
    }
  }

  @media screen and (min-device-width: 320px) and (max-width: 880px) {
    text-align: center;

    img {
      width: 100%;
      margin-top: 50px;
    }
  }
}

.nosotros-second {
  background-color: $gris-claro;
  padding-bottom: 50px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  margin-top: 30px;

  p,
  h2,
  h3 {
    width: 80%;
    margin: auto;
  }

  h2,
  h3 {
    font-weight: bolder;
    padding-top: 3%;
  }

  p {
    padding-top: 2%;
    line-height: 30px;
  }

  img {
    width: 20em;
    margin: auto;
  }

  @media screen and (min-device-width: 320px) and (max-width: 880px) {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      width: 70%;
      margin-top: 50px;
    }
  }
}

.nosotros-third {
  margin-top: 40px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  .third-text {
    p,
    h2 {
      width: 80%;
      margin: auto;
    }

    h2 {
      font-weight: bolder;
      padding-top: 8%;
    }

    p {
      padding-top: 4%;
      line-height: 30px;
    }
  }

  img {
    width: 25em;
    margin: auto;
  }

  @media screen and (min-device-width: 320px) and (max-width: 880px) {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      width: 70%;
      margin-top: 5 0px;
    }
  }
}
