.historyContainer {
  @include flexible(flex, space-between, center);
  padding-top: 150px;
  padding-bottom: 100px;
  margin: 0 5%;

  .historyContent {
    height: 100%;

    .histotyTitle {
      @include font(32px, 46px, bold);
    }

    .historyText {
      @include font(26px, 32px, 500);
    }
  }

  .historyImageContent {
    margin: o auto;
    max-width: 550px; 

    img{
      border-radius: 10px;
    }

    figcaption{
      @include font(18px, 20px, 500);
    }
  }
}

.missionAndVisionContainer{
  background: $brightGray;

  .missionAndVisionContent {
    @include flexible(flex, space-between, center);
    padding: 100px 0;
    margin: 0 5%;
   
    .missionContent {
      height: 100%;
      
      .missionTitle {
        @include font(32px, 46px, bold);
      }
      
      .missionSubTitle {
        @include font(24px, 38px, 700);
      }

      .missionText {
        @include font(26px, 32px, 500);
      }
    }

    .VisionImageContent {
      margin: o auto;
      max-width: 550px; 

      img{
        border-radius: 10px;
      }
    }
  }
}

.productiveProcessContainer {
  @include flexible(flex, space-between, center);
  padding-top: 150px;
  padding-bottom: 100px;
  margin: 0 5%;

  .productiveProcessContent {
    height: 100%;

    .productiveProcessTitle {
      @include font(32px, 46px, bold);
    }

    .productiveProcessText {
      @include font(26px, 32px, 500);
    }
  }

  .productiveProcessImageContent {
    margin: o auto;
    max-width: 550px; 

    img{
      border-radius: 10px;
    }

    figcaption{
      @include font(18px, 20px, 500);
    }
  }
}