.contact-container { 
  margin: 130px auto 0 auto;  
  padding-top: 100px; 
  padding-bottom: 150px; 
  color: #404E4E;
  background-color: rgba(225, 225, 225, 0.424); 
  display: flex;
  justify-content: space-evenly;
 
  .textForm-container { 
    padding-top: 25px; 
    width: 100%; 
    display: flex;
    
    .textForm{
      max-width: 98%;
      margin: 0 auto;
      margin-left: 17%;

      h2{
        font-size: 32px;
        font-weight: bold;
        line-height: 46px;
      }

      p{  
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
      }

      .textForm-LookingFor{
        font-size: 24px;
        font-weight: 500;
        line-height: 38px;
      }

      .textFrom-SocialItems{
        display: flex;
        justify-content: left;

        .facebookIcon {
          svg {
            border-radius: 40%;
            font-size: 2em;
            fill: #404E4E;
            margin-right: 10px;

            &:hover {
              fill: #3b5998;
            }
          }
        }

        .instagramIcon {
          svg {
            background-color: #404E4E;
            border-radius: 30%; 
            font-size: 2em;
            fill: #fff;
            margin-left: 10px;
 
            &:hover {
              background-color: #e95950;
              fill: #fff;
            }
          }
        } 
      }
 
      .contact-data {
        margin: 10px 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg { 
          font-size: 2em; 
          fill: #404E4E; 
       
          &:hover { 
            fill: #000; 
          } 
        } 
        a {
          text-decoration: none;
          font-size: 18px;;
          color: #404E4E;
          margin: 0px 20px;
          &:hover { 
            color: #000;
            font-weight: bold; 
          } 
        }
      } 
    } 
  } 
 
  .form-container { 
    width: 100%; 
    display: block; 
    
    form { 
      margin: 0 auto; 
      padding: 0 5%; 
      max-width: 400px; 
      display: flex; 
      flex-direction: column; 
    } 
 
    input, 
    textarea { 
      border: none; 
      border-radius: 10px; 
      margin: 10px 0px; 
    } 
 
    input { 
      height: 3em; 
    } 
 
    textarea { 
      height: 6em; 
    } 
  } 
} 

@media screen and (max-width: 1100px) {

  .contact-container {   
    margin-top: 0;
    display: block;
    
    .textForm-container{
      padding: 50px 0 100px 0;
    
      .textForm{
        max-width: 550px; 
        text-align: center;
        margin: 0 auto;
  
        .textFrom-SocialItems{
          justify-content: center;
          // display: none;
        }

        .contact-data {
          justify-content: center;
          // display: none;
        }
      }
    } 
  }
}


@media screen and (max-width: 450px) {

  .contact-container {   
    
    .textForm-container{
       
      .textForm{
        h2{
          font-size: 29px;
          font-weight: bold;
          line-height: 46px;
        }
  
        p{  
          font-size: 18px;
          font-weight: 500;
          line-height: 32px;
        }
  
        .textForm-LookingFor{
          font-size: 22px;
          font-weight: 500;
          line-height: 38px;
        }
        
         
        .contact-data {
          a {
            text-decoration: none;
            font-size: 16px;;
            color: #404E4E;
            margin: 0px 20px;
            &:hover { 
              color: #000;
              font-weight: bold; 
            } 
          }
        }
      }
    } 
  } 
}