.products-Container {
  background-color: $brightGray;
  width: 100%;

  .productsHeader-Container {
    @include flexible(flex, space-around, center);
    padding: 130px 20px;
    gap: 20px;

    @media screen and (max-width: 880px) {
      padding-bottom: 60px;
    }

    .headline-Products {
      display: block;
      max-width: 550px;

      h2 {
        @include font(32px, 46px, bold);
      }

      p {
        @include font(20px, 32px, 50);
      }
    }

    .headline-Image {
      padding-top: 30px;

      img {
        padding-top: auto;
        text-align: center;
        max-width: 420px;

        @media screen and (max-width: 880px) {
          display: none;
        }
      }
    }
  }

  .cards-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-gap: 30px;
    margin: 0 auto;
    padding-bottom: 50px;
    
    .itemContainer {
      width: 100%;
      
      .card {
        @include flexible(flex, center, center);
        flex-direction: column;
        margin: 0 auto;
        background-color: $white;
        max-width: 350px;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 50px;
        
        img {
          width: 100%;
        }
        
        h2 {
          @include font(24px, 46px, bold);
        }
        
        p {
          @include font(16px, 22px, 500);
          min-height: 88px;
        }
      }
      
      .popUp-container {
        @include position(0, 0, 0, 0);
        display: grid;
        place-content: center;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0 20px;
                 
        .popUp-Body {
          margin-left: -2.5%;
          max-width: 800px;
          max-height: 100%; 
          
          .popUp-content {
            position: relative;
            
            .close {
              @include position(10px, -35px, none, none);
              position: absolute;
              font-size: 30px;
              border-radius: 50%;
              cursor: pointer;
           
              svg {
                font-size: 1em;
                fill: $darkGray;
                margin-right: 10px;

                &:hover {
                  fill: $facebook;
                }
              }
            }

            .popUp {
              @include flexible(flex, center, center);              
              flex-direction: row;
              width: 100%;
              height: 100%;
              background-color: $white;
              padding: 20px;
              border-radius: 20px;
              margin: 0 20% 0 0;

              div .productImg {
                padding-top: auto;
                text-align: center;
                width: 350px;
              }

              div {
                h2 {
                  @include font(32px, 46px, bold);
                  margin: 16px 0;
                }

                h3 {
                  @include font(28px, 32px, 500);
                  margin: 18px 0;
                }

                p {
                  @include font(16px, 22px, 500);
                  margin: 10px 0;
                }
              }

              .presentations{
                @include flexible(flex, flex-start, center);
                gap: 5px;
              }

              .popUp-SocialItem {
                @include flexible(flex, flex-start, center);
                gap: 20px;
                margin-bottom: 20px;

                .facebookIcon {
                  svg {
                    border-radius: 40%;
                    font-size: 2em;
                    fill: $darkGray;
                    margin-right: 10px;

                    &:hover {
                      fill: $facebook;
                    }
                  }
                }

                .instagramIcon {
                  svg {
                    background-color: $darkGray;
                    border-radius: 30%;
                    font-size: 2em;
                    fill: $white;
                    margin-left: 10px;
                    margin-right: 10px;

                    &:hover {
                      background-color: $instagram;
                      fill: $white;
                    }
                  }
                }

                .whastsappIcon {
                  svg {
                    background-color: $darkGray;
                    border-radius: 30%;
                    font-size: 2em;
                    fill: $white;
                    margin-left: 10px;

                    &:hover {
                      background-color: $whatsapp;
                      fill: $white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .products-Container .cards-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .itemContainer {
      .popUp-container {
        padding-top: 150px;
        .popUp-Body .popUp-content {
          .close {
            @include position(8px, -18px, none, none);
          }

          .popUp {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .products-Container .cards-products .itemContainer .popUp-container {
    .popUp-Body {
      .popUp-content {
        padding: 0 20px;

        background-color: none;
        .close {
          @include position(8px, -15px, none, none);
        }

        .popUp {
          margin-left: -1%;

          div {
            h2 {
              @include font(26px, 36px, bold);
              margin: 16px 0;
            }

            h3 {
              @include font(22px, 26px, 700);
              margin: 18px 0;
            }

            p {
              @include font(14px, 18px, 500);
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .products-Container {
    .productsHeader-Container {
      display: block;
      text-align: center;

      .headline-Products {
        margin: 0 auto;
        width: 100%;
      }

      .headline-Image {
        img {
          width: 100%;
        }
      }
    }

    .cards-products {
      @include flexible(flex, space-around, center);
      flex-direction: column;
      width: 100%;

      .itemContainer {
        .card {
          padding: 10px;
        }
        .popUp-container {
          padding-top: 220px;

          .popUp-Body {
            .popUp-content {
              .close {
                @include position(8px, 6px, none, none);
              }

              .popUp {
                padding-left: 5px;
                padding-right: 5px;
                margin-left: 1%;

                div .productImg {
                  max-width: 250px;
                }

                div {
                  h2 {
                    @include font(24px, 36px, bold);
                    margin: 16px 0;
                  }

                  h3 {
                    @include font(20px, 26px, 700);
                    margin: 18px 0;
                  }

                  p {
                    @include font(12px, 18px, 500);
                    margin: 10px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .products-Container {
    .productsHeader-Container {
      display: block;
      text-align: center;

      .headline-Products {
        margin: 0 auto;
        width: 100%;
      }

      .headline-Image {
        img {
          width: 100%;
        }
      }
    }

    .cards-products {
      @include flexible(flex, space-around, center);
      flex-direction: column;
      width: 100%;

      .itemContainer .popUp-container {
        padding-top: 150px;

        .popUp-Body {
          .popUp-content {
            .close {
              @include position(2px, 12px, none, none);

              svg {
                font-size: 0.8em;
              }
            }

            .popUp {
              @include flexible(block, center, center);
              text-align: center;
              width: 100%;
              height: 100%;
              background-color: $white;
              padding: 10px;
              border-radius: 20px;
              padding-left: 5px;
              padding-right: 5px;
              margin-left: -0.5%;

              div .productImg {
                max-width: 150px;
              }

              div {
                h2 {
                   margin: 5px 0;
                }

                h3 {
                  margin: 5px 0;
                }

                p {
                  margin: 4px 0;
                }
              }

              .presentations{
                justify-content: center;
              }

              .popUp-SocialItem {
                justify-content: center;
                margin: 0;
                .facebookIcon,
                .instagramIcon,
                .whastsappIcon {
                  svg {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
