.thirdBannerHomeContainer {
  margin: 0 auto;
  top: 5px;
  bottom: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 620px;
  text-align: right;
  position: relative;

  .thirdBannerHome-title {
    max-width: 350px;
    color: $blanco;
    font-weight: bold;
    position: absolute;
    top: 25%;
    right: 8%;
  }

  .thirdBannerHome-SubTittle {
    max-width: 450px;
    color: $blanco;
    font-weight: bold;
    position: absolute;
    top: 45%;
    right: 8%;
  }

  .thirdBannerHome-socialItem {
    position: absolute;
    bottom: 25%;
    right: 8%;

    .facebookIcon {
      svg {
        background-color: $azul;
        border-radius: 50%;
        font-size: 2em;
        fill: $blanco;
        margin: 20px;

        &:hover {
          background-color: $blanco;
          fill: $azul;
        }
      }
    }

    .instagramIcon {
      svg {
        background-color: $rojo;
        border-radius: 30%;
        font-size: 2em;
        fill: $blanco;
        margin: 20px;

        &:hover {
          background-color: $blanco;
          fill: $rojo;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 850px) {
    text-align: center;

    .thirdBannerHome-title {
      top: 25%;
      right: 0;
      left: 0;
      margin: auto;
    }

    .thirdBannerHome-SubTittle {
      top: 45%;
      right: 0;
      left: 0;
      margin: auto;
    }

    .thirdBannerHome-socialItem {
      text-align: center;
      top: 75%;
      right: 0;
      left: 0;
    }
  }
}
